footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100%;
  padding-top: 4px;
  color: #fff;
  text-align: center;
  padding: 10px;

}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
  text-align: center;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

}
.socials li{
  margin: 0 10px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  padding: 3px;
  width: 20px;
  position: absolute;
  text-align: center;

}

.fa-twitter {
  background: #55ACEE;
  color: white;
  padding: 3px;
  width: 20px;
  position: absolute;
  text-align: center;
  text-decoration: none;
}

.fa-google {
  background: #dd4b39;
  color: white;
  padding: 3px;
  width: 20px;
  position: absolute;
  text-align: center;
  text-decoration: none;
}

.footer-bottom p{
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;

}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;

}



